# figma-managed npm registry config start
@make-kits:registry=https://registry.figma.com/npm/2e2d24ba-6b9d-4cb5-abd9-3ee5f6c5363b/registry/
@wp-design:registry=https://registry.figma.com/npm/2e2d24ba-6b9d-4cb5-abd9-3ee5f6c5363b/registry/
# figma-managed npm registry config end
